<!-- START NAVBAR -->
<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #364167;">

  <a class="navbar-brand" href="/">
    <img src="/img/full-tokimon.png" width="100" class="d-inline-block align-top" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <li class="nav-item"><span class="navbar-text">Hi, Placeholder Name</span></li>
        <li class="nav-item">
          <a class="nav-link" href="/profile"><i class="fas fa-user"></i> Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout"> Log out</a> 
        </li>
        <a class="nav-link" href="https://github.com/bvtrinh/tuning"><i class="fas fa-code"></i> Source Code</a>
      </li>
    </ul>
  </div>

</nav>
<!-- END NAVBAR -->