.jumbotron {
    background: #364167;
    color: white;
}

h2.index-cap {
    font-family: 'Quicksand', sans-serif;
}

h1.title {
    font-size: 6rem;
}

.arvo {
    font-family: 'Arvo', serif;
}

.main-info {
    background: white;
}

.dev-profile {
    border-radius: 50%;
    vertical-align: middle;
}

/* Set a background image by replacing the URL below */
body {
    background: url('https://images.unsplash.com/photo-1526327760257-75f515c74478?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#mainContent{
    padding: 0 50px 50px 50px;
}

.row{
    margin-top: 9%;
}

.container{
    padding: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.auto-align{
    margin-top: auto;
    margin-bottom: auto;
}

hr{
    margin: 100px 0;
}

.dev{
    margin-top:2% !important;
}

.carousel{
    border-radius: 4px 4px 0 0;
    overflow: hidden;
}

#bannerHr{
    border-color:grey;
    margin: 50px 0;
}

.list-group{
    margin-top: 20px;
}