html, body{
    height: 100%;
}

/* Set a background image by replacing the URL below */
body {
    background: url('https://images.unsplash.com/photo-1526327760257-75f515c74478?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.content{
    height: 80%;
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: 5%;
    border-radius: 10px;
    min-height: 300px;
    
}

.arvo {
    font-family: 'Arvo', serif;
}

.title{
    text-align: center;
    font-size: 40px;
    position: relative;
    top: 4%;
    color: white;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.actions{
    height: 100%;
}

.container{
    height: 80%;
    width: 100%;
    position: relative;
}

.row {
    margin-top: 4%;
    text-align: center;
}

.subRow {
    margin-top: 180%;
}

.actionBtns {
    background-color: #364167;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
        1px 1px 0 #000;
        border-color: white;
    margin-bottom: 2%;
    width: 100%;
}

.numPlayers {
    background-color: #364167;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
        1px 1px 0 #000;
        border-color: white;
    color: #eee;
}

.chatBox {
    width: 100%;
    background-color: #eee; 
    border: solid 1px white;
}

form { 
    background: #eee; 
    padding: 3px; 
    bottom: 0;  
    border-color: #000; 
    border-top-style: solid; 
    border-top-width: 1px;
}

form input { 
    border-style: solid; 
    border-width: 1px; 
    padding: 10px; 
    width: 85%; 
    margin-right: .5%; 
}

form button { 
    width: 9%; 
    background: #364167; 
    border: none; 
    padding: 10px; 
    margin-left: 2%; 
    color: #eee;
}

#messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    height: auto;
    max-height: 300px;
    min-height: 200px;
    overflow: auto;
}

#messages li { 
    padding: 5px 10px; 
}

#messages li:nth-child(odd) { 
    background: #364167;
    color: #eee;
}

