<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/game.css">
    <title>Play Now</title>
</head>

<body>

    <% include ../partials/nav.ejs %>
    <div class="container">

        <h2 align="right" class="pt-3" id="song_counter"></h2>
        <h1 id="page-title" class="title arvo px-3 py-3">
            Guess the Song!
        </h1>
        <h2 id="score" align="center" class="pt-3"></h2>
        <h2 id="correct_num" align="center" class="pt-3">Correct: 3/5</h2>

        <hr>

        <div id="progress-box" class="progress flip">
            <div class="pb-5 progress-bar" 
                role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" 
                id="progressbar" style="width: 100%"></div>
        </div>

        <h1 align="center" id="countdown" class="pt-5">
        </h1>

        <div class="playback">
            <audio id="audio-playback">
                <source id="song-playback" type="audio/mpeg">
            </audio>
        </div>
        
        <div id="guess-feedback" class="mx-5 my-5">

        </div>

        <div id="guess-box" class="input-group">
            <input type="text" class="form-control pr-3" name="guess" id="guess" autocomplete="off" autofocus>
            <span class="input-group-btn">
                <button id="guess-ans" type="submit" class="btn btn-primary">Submit</button>
            </span>
        </div>

        <div align="center" id="result-btns" class="px-5 py-5">
            <a href="/play" class="btn btn-primary">Return to Home</a>
            <a href="/play" class="btn btn-primary">Select a different genre</a>
            <a href="/play" class="btn btn-primary">Play again</a>
        </div>

    </div>

    <script src="/js/game.js"></script>
</body>

</html>