<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
<title>Tokimon: Home</title>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Tuning</h1>
    <hr>
    <h2 class="index-cap">A song trivia web app with leaderboards and friends!</h2>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-lg-6">
      <h3><i class="fas fa-info"></i> What is this app?</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas suscipit sit amet lorem quis ultrices. Proin eget porta eros, at fringilla felis. Quisque accumsan imperdiet ex id congue. Morbi sed quam suscipit, venenatis enim vitae, iaculis est. Duis posuere nunc ut neque congue convallis nec vel nibh. Morbi ut dapibus diam, sit amet pellentesque dolor. Pellentesque placerat ex quis mi aliquam, eget dapibus nulla interdum. In a lectus ipsum. Pellentesque a nulla erat. Etiam eget ullamcorper urna.
      </p>
    </div>

    <div class="col-lg-6">
      <h3><i class="fas fa-info"></i> How do I play?</h3>
      <p>
        Sed scelerisque efficitur rhoncus. Aliquam bibendum risus nec efficitur pharetra. Curabitur non lorem dolor. Vivamus tincidunt augue neque, in viverra est varius quis. Sed placerat risus ipsum, in pharetra ante viverra id. Phasellus sodales bibendum orci, vitae rutrum felis pellentesque at. Proin non justo egestas, vulputate ipsum non, faucibus neque. Donec tempus risus et dui laoreet congue. Nullam et tempus dolor. Nunc ullamcorper neque in elit fringilla, at fringilla leo ullamcorper.
      </p>
    </div>
  </div>

</div>

</body>
</html>
