<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" href="/stylesheets/home.css">
  <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
<title>Home</title>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="container main-info rounded-lg mb-5 mt-5 pb-5 pt-3">

  <div class="jumbotron text-center">
    <h1 class="title arvo">Tuning</h1>
    <hr>
    <h2 class="index-cap">A song trivia web app with leaderboards and friends!</h2>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h3><i class="fas fa-info"></i> What is this app?</h3>
      <p>
        Tuning is a party game, where players compete against in each other in fast-paced game of 
        song guessing of song title, artist, or missing lyrics.
      </p>


      <h3><i class="fas fa-info"></i> How do I play?</h3>
      <p>
        To play Tuning an account has to be created to play. Once you login, you can start playing 
        right away with single-player and multiplayer modes. From there you can select which genre 
        of music you want to listen and guess, and which type of mode you want to play: multiple 
        choice, fill in the blanks, or voice input guessing. Once in the game, users will be given 
        a limited amount of time to answer correctly. The faster you answer correctly the more 
        points you can get! At the end of the game you'll be given a final score which will be 
        recorded onto our leaderboards.
      </p>

      <h3><i class="fas fa-info"></i> Developers</h3>
        <p>Here's the link to the <a href="https://github.com/bvtrinh/tuning">repo!</a></p>
      
        <ul>
          <li>Moses Lee</li>
          <li>Andy Liu</li>
          <li>Kevin Gandham</li>
          <li>Trevor Grabham</li>
          <li>Tyler Trinh</li>
        </ul>
    </div>

  </div>

</div>

</body>
</html>
