<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
    <title>Play Now</title>
</head>

<body>

    <% include ../partials/nav.ejs %>
    <div class="content">
        <div class="game">
            <div class="title arvo">
                Tuning
            </div>

            <div class="container">
                <div class="row">

                    <div class="col-4 col-md-4 btn-row">
                      <form action="/playtype/single" method="post">
                        <a href="/playlists"><button type="button" class="btn btn-outline-light btn-lg">Single Player</button></a>
                      </form>
                    </div>
                    <div class="col-4 col-md-4 btn-row">
                      <form action="/playtype/multi" method="post">
                        <button type="button" class="btn btn-outline-light btn-lg">Multiplayer</button>
                      </form>
                    </div>
                    <div class="col-4 col-md-4 btn-row">
                        <button type="button" class="btn btn-outline-light btn-lg">Leaderboards</button>
                    </div>

                </div>
            </div>

        </div>
    </div>


</body>

</html>
