<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
    <title>Play Now</title>
</head>

<body>

    <% include ../partials/gameNav.ejs %>
    <div class="content">
        <div class="game">
            <div class="title">
                Tuning
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-12 btn-row">
                        <button type="button" class="btn btn-outline-dark btn-lg">Single Player</button>
                        <button type="button" class="btn btn-outline-dark btn-lg float-right">Multiplayer</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <div class="text-center">
                            <button type="button" class="btn btn-outline-dark btn-lg">Leaderboards</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>