<!doctype html>
<html>

<head>
    <% include ../partials/header.ejs %>
    <title>Lobby</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/lobby.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/game.css">
</head>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>


<script type="text/javascript" defer>


    var socket = io.connect('localhost:5000')
    var roomCode
    var playlist
    var currSong
    var type = "<%=room%>"
    var user = "<%=username%>"
    var percent

    //create room if the user hit create, if not join room
    if (type == "create") {
        socket.emit('create')
    }
    else {
        roomCode = "<%=code%>"
        socket.emit('join', roomCode, user)
    }


    socket.on('roomcode', function (code) {
        roomCode = code
        socket.emit('join', roomCode, user)
    })

    //updates the room info when user joins
    socket.on('userJoin', function (room) {
        let players = room.players
        let pCount = room.pCount
        let roomGenre = room.genre
        $("#players").empty();
        for (let i = 0; i < players.length; i++) {
            updatePlayerTable(players[i], room)
        }

        $(".numPlayers").html(`${pCount}/8 Players`)

        $('.genre').val(roomGenre)
    })

    //updates the room info when user leaves
    socket.on('userLeave', function (room) {
        let players = room.players
        let pCount = room.pCount
        let roomGenre = room.genre
        $("#players").empty();
        for (let i = 0; i < players.length; i++) {
            updatePlayerTable(players[i], room)
        }

        $(".numPlayers").html(`${pCount}/8 Players`)

        $('.genre').val(roomGenre)
    })

    function updatePlayerTable(username, room) {
        let state = "Unready"
        if (room.ready.includes(username)) {
            state = "Ready"
        }
        $("#players").append(`<tr class="${username}"><td class='name'>${username}</td><td class="state">${state}</td></tr>`)
    }

    $(document).ready(function () {
        $("#readyState").click(function () {
            if ($(`.${user} > .state`).html() == "Unready") {
                socket.emit('ready', user, roomCode)
            }
            else {
                socket.emit('unready', user, roomCode)
            }
        })
    })

    socket.on('ready', function (user) {
        $(`.${user} > .state`).html("Ready")
    })

    socket.on('unready', function (user) {
        $(`.${user} > .state`).html("Unready")
    })

    $(function () {
        $('#genre').on('change', function () {
            let newGenre = $('option:selected').val()
            socket.emit('genre', newGenre, roomCode)
        })
    })

    socket.on('updateGenre', function (room) {
        let roomGenre = room.genre
        $('.genre').val(roomGenre)
    })

    $(document).ready(function () {
        $("#messageSend").click(function () {
            var msg = $("#messageInput").val();

            socket.emit('messageSent', user, roomCode, msg)
            $("#messageInput").val("")
        })
    })

    socket.on('messageReceived', function (msg, user) {
        $("#history").append($(`<p>${user}: ${msg}</p>`))

    })

    socket.on('loadPlaylist', function (loadPlaylist) {
        playlist = loadPlaylist
        $("#lobby").hide()
        $("#game").show()

        // Disable the button so user's don't accidentally submit before song is loaded
        $(".btn").attr('disabled', true);

        socket.emit('answered', user, 0)
    })

    socket.on('countdown', function (time) {
        //hide buttons
        $(document).ready(function(){
            $("#audio-playback").trigger("pause");
        })
        if (time == 0) {
            $("#countdown").html("GO!");
            $('#countdown').delay(1000).fadeOut(500);
            // Set the initial volume
            $("#audio-playback").prop("volume", 0.1);
            $("#audio-playback").trigger("load");
            $("#audio-playback").trigger("play");
            $(".btn").attr('disabled', false);
        }
        else {
            //display countdown
            $("#countdown").fadeIn(500);
            $("#countdown").html(time);
        }

    })

    socket.on('loadNextSong', function (index) {
        currSong = playlist[index]
        update_song_view(currSong, index);
    })

    // Check if the user has guessed correctly
    function mark_guess(song_guess, correct_song, guess_id) {

        // There are escaped HTML characters in the string for "'"
        correct_song = correct_song.replace("&#039;", "'");

        if (song_guess == correct_song) {
            $("#progressbar").css("width", 100 + "%").attr("aria-valuenow", 100);
            let score = parseInt(1000 * (percent / 100))
            socket.emit('answered', user, score)
        }
        else {
            chg_btn_color(guess_id, 'red');
            socket.emit('answered', user, 0)

        }

        chg_btn_color(get_btn_i(correct_song), 'green');
        // This is hides the alert after a set amount of time 
        $(".alert").fadeTo(3000, 500).slideUp(500, function () {
            $(".alert").slideUp(500);
        });

    }

    function chg_btn_color(id, color) {
        $('#btn' + id).css("background", color);
    }

    function get_btn_i(song) {
        var val;
        song = song.replace("&#039;","'");
        for (var i = 0; i < 4; i++) {
            val = $('#btn' + i).html();
            if (val == song) {
                return i;
            }
        }
    }



    socket.on('updateGameTable', function(room){

        var answered = room[roomCode].scores //{username -> score}
        // https://stackoverflow.com/questions/25500316/sort-a-dictionary-by-value-in-javascript

        // Create array from dictionary
        var answered = Object.keys(answered).map(function(key) {
            return [key, items[key]];
        });

        // Sort the array based on the second element
        answered.sort(function(first, second) {
            return second[1] - first[1];
        });

        // Clear the body of the table
        $("#scoreboard tbody").empty()

        // Instead reformat table here
        answered.forEach(function(item) {
            var row = `<tr> <td>${item[0]}</td> <td>${item[1]}</td> </tr>`;
            $("#scoreboard tbody").append(row);
        });
    });



    $(document).ready(function () {
        $("#audio-playback").on("playing", function () {
            percent = 100
            var progress = setInterval(function () {
                var audio = document.getElementById("audio-playback");
                var duration = audio.duration;
                var curr_time = audio.currentTime;
                percent = (duration - curr_time) / duration * 100

                $("#progressbar").css("width", percent + "%").attr("aria-valuenow", percent);

                if (curr_time > duration || audio.paused) {
                    $("#progressbar").css("width", 100 + "%").attr("aria-valuenow", 100);
                    clearInterval(progress);

                }
            }, 100);

        });
    })

    $(document).ready(function(){
        $(".btn").click(function() {
            var guess = $(this).html();
            var guess_id = $(this).attr("id").slice(3,4);
            //$("#audio-playback").trigger("pause");

            // Validate the guess against the correct answer using the innerHTML of the buttons
            mark_guess(guess, currSong.songname, guess_id);
        });
    })
    
    $(document).ready(function () {
        $("#readyState").click(function () {
            if ($(`.${user} > .state`).html() == "Unready") {
                socket.emit('ready', user, roomCode)
            }
            else {
                socket.emit('unready', user, roomCode)
            }
        })
    })
    //ifbuttonpressedforsubmission emit to server that they have answered
    //Update score for everyone 

    socket.on('loadResultsPage', function (room) {
        $(document).ready(function(){
            $("#audio-playback").trigger("pause");
        })
        $('#game').hide()

    })

    function update_song_view(song, i) {
        $("#song_counter").html(parseFloat(i + 1) + "/5");
        $("#song-playback").attr("src", song.url);
        var btn_nums = [0, 1, 2, 3];
        btn_nums = shuffle(btn_nums);
        var correct_btn = btn_nums.pop()
        $("#btn" + correct_btn).html(song.songname);
        $("#btn" + correct_btn).css("background", "#23272b");
        var id_num;

        for (var i = 0; i < 3; i++) {
            id_num = btn_nums.pop();
            $("#btn" + id_num).html(song.related_songs[i]);
            $("#btn" + id_num).css("background", "#23272b");
        }
    }

    function shuffle(arr) {

        const len = arr.length;
        var temp;
        var rand_int;
        for (var i = 0; i < len; i++) {
            rand_int = Math.floor(Math.random() * (len - i)) + i
            temp = arr[i];
            arr[i] = arr[rand_int];
            arr[rand_int] = temp;
        }
        return arr;
    }
</script>

//add ROOM CODE SOMEWHERE
//fix UI

<body>
    <!-- NAVBAR -->
    <% include ../partials/nav.ejs %>
    <div id="lobby">
        <div class="content">
            <div class="actions">

                <div class="title arvo">
                    Lobby
                </div>

                <div class="container">

                    <div class="row">
                        <div class="col-12 col-md-10 btn-row">
                            <!-- players list -->
                            <table class="table table-dark">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Ready/Unready</th>
                                    </tr>
                                </thead>
                                <tbody id="players">
                                    <tr>
                                        <td class="name">name</td>
                                        <td>hi</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-12 col-md-2 btn-row">
                            <!-- genres drop down-->
                            <div class="row-6 row-md-12">
                                <div class="dropdown">
                                    <select class="browser-default custom-select genre" id="genre">
                                        <option value="" disabled selected>Genre</option>
                                        <option value="pop">Pop</option>
                                        <option value="rap">Rap</option>
                                        <option value="country">Country</option>
                                        <option value="hip hop">Hip Hop</option>
                                        <option value="rock">Rock</option>
                                        <option value="trap">Trap</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row-6 row-md-12 subRow">
                                <!-- number of players in room -->
                                <div class="card">
                                    <div class="card-body numPlayers">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-12 col-md-10 btn-row">
                            <!-- chat -->
                            <div class="chatBox">
                                <h2>Chat</h2>
                                <div id="history"></div>
                                <form id="chatInput">
                                    <input type="text" id="messageInput" autocomplete="off" autofocus="on"
                                        placeholder="type your message here" />
                                    <button href="#" type="button" id="messageSend">Send</button>
                                </form>
                            </div>
                        </div>

                        <div class="col-12 col-md-2 btn-row">

                            <div class="row-6 row-md-12">
                                <!-- ready button-->
                                <button type="submit" class="btn btn-outline-light btn-lg actionBtns"
                                    id="readyState">Ready</button>
                            </div>

                            <div class="row-6 row-md-6 subRowLeave">
                                <!-- leave button-->
                                <form action="/playtype/multiplayer" method="get">
                                    <button type="submit" class="btn btn-outline-light btn-lg actionBtns">Leave</button>
                                </form>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>

    <div id="game">
        <div class="container gameplay">

            <div class="row">
                <div class="col-lg-3">
                    <h1 align="center" id="player-title" class="arvo py-3">Players</h1>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>ttrinh</td>
                                <td>2000</td>
                            </tr>
                            <tr>
                                <td>bvtrinh</td>
                                <td>1900</td>
                            </tr>
                            <tr>
                                <td>andy</td>
                                <td>1500</td>
                            </tr>
                            <tr>
                                <td>kevin</td>
                                <td>1000</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="col-lg-9">

                    <h2 align="right" class="pt-3" id="song_counter"></h2>
                    <h1 id="page-title" class="title game-title arvo px-3 py-3">
                        Guess the Song!
                    </h1>

                    <hr>

                    <div id="progress-box" class="progress">
                        <div class="pb-5 progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                            aria-valuemax="100" id="progressbar" style="width: 100%"></div>
                    </div>

                    <h1 align="center" id="countdown" class="pt-5">
                        &nbsp;
                    </h1>

                    <div class="playback">
                        <audio id="audio-playback">
                            <source id="song-playback" type="audio/mpeg">
                        </audio>
                    </div>

                    <div id="guess-feedback" class="mx-5 my-5">

                    </div>

                    <div id="mc_btns" class="row justify-content-center">
                        <div class="col-lg-6 btn-row">
                            <button id="btn0" type="button" class="mc btn btn-dark"></button>
                        </div>
                        <div class="col-lg-6 btn-row">
                            <button id="btn1" type="button" class="mc btn btn-dark"></button>
                        </div>
                        <div class="col-lg-6 btn-row">
                            <button id="btn2" type="button" class="mc btn btn-dark"></button>
                        </div>
                        <div class="col-lg-6 btn-row">
                            <button id="btn3" type="button" class="mc btn btn-dark"></button>
                        </div>
                    </div>
                </div>


            </div>

            <div align="center" id="result-btns" class="results-btns px-5 py-5 justify-content-center">
                <a href="/play" class="btn btn-primary">Return to Home</a>
                <a href="/playtype/single" class="btn btn-primary">Select a different genre</a>
                <a href="" class="btn btn-primary">Play again</a>
            </div>

        </div>
    </div>

</body>

</html>