<!doctype html>
<html>

<head>
    <% include ../partials/header.ejs %>
    <title>Lobby</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/lobby.css">
</head>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>


<script type="text/javascript" defer>
    var socket = io.connect('localhost:5000')
    var roomCode
    var type = "<%=room%>"
    var user = "<%=username%>"

    //create room if the user hit create, if not join room
    if (type == "create") {
        socket.emit('create')
    }
    else {
        roomCode = "<%=code%>"
        socket.emit('join', roomCode, user)
    }


    socket.on('roomcode', function (code) {
        roomCode = code
        socket.emit('join', roomCode, user)
    })

    //updates the room info when user joins
    socket.on('userJoin', function (room) {
        let players = room.players
        let pCount = room.pCount
        let roomGenre = room.genre
        $("#players").empty();
        for (let i = 0; i < players.length; i++) {
            updatePlayerTable(players[i], room)
        }

        $(".numPlayers").html(`${pCount}/8 Players`)

        $('.genre').val(roomGenre)
    })

    //updates the room info when user leaves
    socket.on('userLeave', function (room) {
        let players = room.players
        let pCount = room.pCount
        let roomGenre = room.genre
        $("#players").empty();
        for (let i = 0; i < players.length; i++) {
            updatePlayerTable(players[i], room)
        }

        $(".numPlayers").html(`${pCount}/8 Players`)

        $('.genre').val(roomGenre)
    })

    function updatePlayerTable(username, room) {
        let state = "Unready"
        if(room.ready.includes(username)){
            state = "Ready"
        }
        $("#players").append(`<tr class="${username}"><td class='name'>${username}</td><td class="state">${state}</td></tr>`)
    }

    $(document).ready(function () {
        $("#readyState").click(function () {
            if($(`.${user} > .state`).html() == "Unready"){
                socket.emit('ready', user, roomCode)
            }
            else{          
                socket.emit('unready', user, roomCode)
            }
        })
    })

    socket.on('ready', function(user){
        $(`.${user} > .state`).html("Ready")
    })

    socket.on('unready', function(user){
      $(`.${user} > .state`).html("Unready")
    })

    $(function(){
        $('#genre').on('change', function(){
            let newGenre = $('option:selected').val()
            socket.emit('genre', newGenre, roomCode)
        })
    })

    socket.on('updateGenre', function(room){
        let roomGenre = room.genre
        $('.genre').val(roomGenre)
    })

    $(document).ready(function () {
        $("#messageSend").click(function () {
            var msg = $("#messageInput").val();
            
            socket.emit('messageSent', user, roomCode, msg)
            $("#messageInput").val("")
        })
    })

    socket.on('messageReceived', function(msg, user){
        $("#history").append($(`<p>${user}: ${msg}</p>`))
    })
</script>

//add ROOM CODE SOMEWHERE
//fix UI
<body>
    <!-- NAVBAR -->
    <% include ../partials/nav.ejs %>

    <div class="content">
        <div class="actions">

            <div class="title arvo">
                Lobby
            </div>

            <div class="container">

                <div class="row">
                    <div class="col-12 col-md-10 btn-row">
                        <!-- players list -->
                        <table class="table table-dark">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Ready/Unready</th>
                                </tr>
                            </thead>
                            <tbody id="players">
                                <tr>
                                    <td class="name">name</td>
                                    <td>hi</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-12 col-md-2 btn-row">
                        <!-- genres drop down-->
                        <div class="row-6 row-md-12">
                            <div class="dropdown">
                                <select class="browser-default custom-select genre" id="genre">
                                    <option value="" disabled selected>Genre</option>
                                    <option value="pop">Pop</option>
                                    <option value="rap">Rap</option>
                                    <option value="country">Country</option>
                                    <option value="hip hop">Hip Hop</option>
                                    <option value="rock">Rock</option>
                                    <option value="trap">Trap</option>
                                </select>
                            </div>
                        </div>
                        <div class="row-6 row-md-12 subRow">
                            <!-- number of players in room -->
                            <div class="card">
                                <div class="card-body numPlayers">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-12 col-md-10 btn-row">
                        <!-- chat -->
                        <div class="chatBox">
                            <h2>Chat</h2>
                            <div id="history"></div>
                            <form id="chatInput">
                                <input type="text" id="messageInput" autocomplete="off" autofocus="on"
                                    placeholder="type your message here"/>
                                <button href="#" type="button" id="messageSend">Send</button>
                            </form>
                        </div>
                    </div>

                    <div class="col-12 col-md-2 btn-row">

                        <div class="row-6 row-md-12">
                            <!-- ready button-->
                            <button type="submit" class="btn btn-outline-light btn-lg actionBtns"
                                id="readyState">Ready</button>
                        </div>

                        <div class="row-6 row-md-6 subRowLeave">
                            <!-- leave button-->
                            <form action="/playtype/multiplayer" method="get">
                                <button type="submit" class="btn btn-outline-light btn-lg actionBtns">Leave</button>
                            </form>
                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>
</body>

</html>