<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
  <title>Login</title>
</head>

<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h3></h3>
              <h4 class="card-title text-center">Sign In</h5>
              <form class="form-signin" method="POST" action="/sign_in">
                <div class="form-label-group">
                  <label for="inputUsername">Username</label>
                  <input type="text" id="inputUsername" class="form-control" name="username" required autofocus>
                </div>
  
                <div class="form-label-group">
                  <label for="inputPassword">Password</label>
                  <input type="password" id="inputPassword" name="password" class="form-control" required>
                </div>
  
                <hr class="my-4">
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>

                <div align="center" class="">
                  <a href="/signup">Create account</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
