<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/multiplayer.css">
  <title>Multiplayer</title>
</head>

<body>

  <!-- NAVBAR -->
  <% include ../partials/nav.ejs %>

  <div class="content">
    <div class="actions">

      <div class="title arvo">
        Multiplayer
      </div>

      <div class="container">

        <div class="row">
          <div class="col-12 col-md-6 btn-row">
            <form method="get" action="/multiplayer/create">
              <button type="submit" class="btn btn-outline-light btn-lg actionBtns">Create</button>
            </form>
          </div>
          <div class="col-12 col-md-6 btn-row">
            <form method="post" action="/multiplayer/join">
                <input type="text" id="roomCode" name="roomCode" minlength="6" maxlength="6" required>
                <button type="submit" class="btn btn-outline-light btn-lg actionBtns">Join</button>
            </form>
          </div>
        </div>

        <div class="row">

        </div>

      </div>

    </div>

  </div>
</body>
</html>
