<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/multiplayer.css">
  <title>Multiplayer</title>
</head>

<body>

  <!-- NAVBAR -->
  <% include ../partials/nav.ejs %>

  <div class="content">
    <div class="actions">

      <div class="title arvo">
        Multiplayer
      </div>

      <div class="container">

        <div class="row">
          <div class="col-12 col-md-6 btn-row">
            <form method="get" action="/play/multiplayer/create">
              <button type="submit" class="btn btn-outline-light btn-lg actionBtns">Create</button>
            </form>
          </div>
          <div class="col-12 col-md-6 btn-row">
            <form method="post" action="/multiplayer/join">
                <button type="submit" class="btn btn-outline-light btn-lg actionBtns">Join</button>
                <input align="center" type="text" class=" mb-1 col-lg-6 col-centered form-control" id="roomCode" name="roomCode" minlength="6" maxlength="6" placeholder="Enter room code here" required>
                <div id="error_room"></div>
            </form>
          </div>
        </div>

      </div>

    </div>

  </div>
  <% if (errors != null) { %>
  <script>
    $(document).ready(function() {
        $("#error_room").html("<div class=\"alert alert-danger\" " +
        "role=\"alert\">Invalid room code or room does not exist, please try again</div>");
        console.log('is this thing on?');
    });

  </script>
  <% } %>
</body>

</html>
