<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/playlists.css">
  <title>Single Player</title>
</head>

<body>

  <!-- NAVBAR -->
  <% include ../partials/nav.ejs %>

  <div class="content">
    <div class="playlists">

      <div class="title arvo">
        Playlists
      </div>

      <div class="container">

        <div class="row">
          <div class="col-12 col-md-4 btn-row">
            <form method="get" action="/genre/pop">
              <button type="submit" class="btn btn-outline-light btn-lg playlistBtns">Pop</button>
            </form>
          </div>
          <div class="col-12 col-md-4 btn-row">
            <form method="get" action="/genre/rap">
              <button type="submit" class="btn btn-outline-light btn-lg playlistBtns">Rap</button>
            </form>
          </div>
          <div class="col-12 col-md-4 btn-row">
            <form method="get" action="/genre/country">
              <button type="submit" class="btn btn-outline-light btn-lg playlistBtns">Country</button>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-4 btn-row">
            <form method="get" action="/genre/hip hop">
              <button type="submit" class="btn btn-outline-light btn-lg playlistBtns">Hip Hop</button>
            </form>
          </div>
          <div class="col-12 col-md-4 btn-row">
            <form method="get" action="/genre/rock">
              <button type="submit" class="btn btn-outline-light btn-lg playlistBtns">Rock</button>
            </form>
          </div>
          <div class="col-12 col-md-4 btn-row">
            <form method="get" action="/genre/trap">
              <button type="submit" class="btn btn-outline-light btn-lg playlistBtns">Trap</button>
            </form>
          </div>
        </div>

      </div>
    </div>

  </div>
</body>
</html>
