<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/signup.css">
<title>Sign Up</title>
</head>

<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Sign Up</h5>
              <div class = "container">
                <ul>
                  <% if(errors){
                      for(var e of errors){ %>
                    <li><%= e.msg %></li>
                  <% }} %>
                </ul>
              </div>
              <form class="form-signin" method="POST" action="/users/sign_up">
                <div class="form-label-group">
                  <label for="inputUsername">Username</label>
                  <input type="text" id="inputUsername" class="form-control" name="username" minlength="5" maxlength="15 "pattern = "^[a-zA-Z0-9]*$" title = "The username you entered contains spaces" required autofocus>
                </div>

                <div class="form-label-group">
                  <label for="inputPassword">Password</label>
                  <input type="password" id="inputPassword" name="password" class="form-control" minlength="5" pattern ="^[a-zA-Z0-9]*$" title="The password you entered contains spaces" required>
                </div>

                <div class="form-label-group">
                  <label for="inputPassword">Confirm Password</label>
                  <input type="password" id="inputPassword" name="confirmPassword" class="form-control" minlength="5" required>
                </div>

                <hr class="my-4">
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign up</button>

                <div align="center" class="">
                  <a href="/users/login">Already have an account?</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
